@{
    ViewBag.Title = "Informacje";
}

<div class="jumbotron">
    <p>Witaj na naszej stronie!</p>
    <p>Zgodnie z założeniami jest to strona stworzona według zasad które umożliwiają swobodne poruszanie się po niej również osobom z różnymi wadami wzroku</p>
    <h4> Oto lista przydatnych wiadomości / skrótów, które pomogą Tobie poruszać się po naszej stronie</h4>

    <ul>
        <li>
            <p>
                Po zalogowaniu i przejściu do "Opcji",
                które znajdują się na liście rozwijanej ukazującej się po kliknięciu na swój email,
                będziesz miał możliwość wyboru rodzaju kroju czcionki, jej rozmiaru oraz koloru dzięki czemmu będziesz miał możliwość dostosowania wyglądu strony pod swoje preferencje
            </p>
        </li>
        <li>
            <p>
                Podczas rozwiązywania zadań, w których musisz pogrupować elementy lub posortować je pomogą Ci skróty klawiszowe
            </p>
            <p>Pierwszym z nich jest "Control" + "q", dzięki któremu masz możliwość "podniesienia/złapania" elementu który chcesz przesunąć lub zamienić miejscami</p>

            <p>
                Następnie przy pomocy na przykład tabulatora lub innych przycisków nawigacyjnych należy wybrać odpowidni element,
                do którego chcemy wrzucić lub zamienić miejscami z elementem wybranym za pomocą poprzedniego skrótu klawiszowego
            </p>

            <p>
                Ostatnim już przydatnym skrótem klawiszowym jest "Control" + "x",
                dzieki któremu mamy możliwość zaakceptowania swojej decyzji dzięki czemu element zostanie dodany do odpowiedniego kontenera lub zamieniony miejscami z wybranym elementem
            </p>
        </li>
    </ul>
</div>